*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}
f9004d

.hero{
    height: 100vh;
    width: 100%;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer; /*when cursor goes on it..it shows click icon not select*/
}

span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none ;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .5s;
}

 .btn {
    color: white;
    background-color: #f9004d;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 400;
    transition: transform 0.4s;
 }

 .btn:hover{
    transform: scale(1.2);
 }

 /*have to understand*/
 .content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
 }

 h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
 }

h3{
    color: white;
    font-size: 25px;
    margin-left: 1%;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 1%;
}

.about{
    display: flex;
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    flex-wrap: wrap;
}

.about img{
    height: auto;
    width: 400px;

}

.about-text{
    width:550px;
}

.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 15px;    
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;

}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.projects{

    background: #101010;
    width: 100%;
    padding: 50px 0px;
    padding-left: 8%;
    padding-right: 8%;
}

.box{
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    width: 320px;
    height: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.pra{
    color: white;
    margin-bottom: 25px;
}

.title h2{
    color:white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.logo{
    height: 2px;
}

.projects ul li{

    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
}
.projects ul li img{
    width: 211px;
    height: auto;
}
.projects ul li img:hover{
    scale: 1.2;
    
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
}

.social{
    display: flex;
}

.social a{
    width: 60px;
    height: 100px;
    text-decoration: none;
    color: #c40340;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:initial;
    border-radius: 50%;
    margin: 2px 10px;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;   
}